<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4">
  <a class="navbar-brand d-flex align-items-center" routerLink="/home">
    <img src="assets/img/logo-otakushop-blanco.png" alt="OtakuShop Logo" style="height: 65px;" class="me-2">
  </a>
  <a class="navbar-brand" routerLink="/home">OtakuShop</a>
  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarNav"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ms-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home" routerLinkActive="active">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contacto" routerLinkActive="active">Contacto</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/cookies" routerLinkActive="active">Cookies</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/aviso-legal" routerLinkActive="active">Aviso legal</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/registro" routerLinkActive="active">Registrarse</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/login" routerLinkActive="active">Iniciar sesión</a>
      </li>
    </ul>
  </div>
</nav>


