:root {
  --main-bg-color: #1a1a2e;
  --text-color-light: #f5f5f5;
  --text-color-dark: #0f3460;
  --hover-bg-color: #16213e;
  --accent-color: #e94560;
  --bg-color: #121212;
  --bg-text-color: white;

  --base-font-size: 16px;
  --base-max-content-width: 75rem;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color-light);
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0;
}